<header>
  <h1>
    <span class="back"><%= link_to "〈".html_safe, artists_path, title: "Back" %></span>
    <%= @artist.name %>
    <%= button_to 'Edit', edit_artist_path(@artist), method: 'get' %>
  </h1>
</header>

<p id="notice"><%= notice %></p>

<section class="artist-info">
  <span><%= @artist.members.to_sentence last_word_connector: ' and ' %></span> |
  <span><%= pluralize @albums.size, 'album' %></span>
  <p class="artist-profile"><%= @artist.profile %></p>
</section>

<section class="albums">
  <% @albums.each do |album| %>
  <%= div_for album, class: 'clearfix' do %>
      <h3>
        <span class="title"><%= album.title %></span>
        <div class="info">
          <small><%= album.meta.formats.join(', ') %></small>
          <small><%= album.released %></small>
        </div>
      </h3>

      <div class="cover">
        <%= image_tag "http://ruby-demo-assets.s3.amazonaws.com/discogs/covers/#{album.id}.jpeg", width: '100px', class: 'cover' %>
      </div>

      <div class="content">
        <% album.tracklist.in_groups_of(album.tracklist.size/2+1).each_with_index do |half, g| %>
          <ul class=<%= cycle 'first', 'second' %> start="<%= g < 1 ? 1 : album.tracklist.size/2+2 %>">
            <% half.compact.each_with_index do |track, i| %>
              <li>
                <i class="counter"><%= g < 1 ? i+1 : i+(g*album.tracklist.size/2+2)  %></i>
                <%= track['title'] %>
                <small><%= track['duration'] %></small>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

  <% end %>

  <script>$('img').error(function(){ $(this).attr('src', '/images/blank_cover.png'); });</script>
  <script>$(document.location.hash).effect('highlight', 1500)</script>
</section>
