<header>
  <h1>
    <span class="back"><%= link_to "〈".html_safe, :back, title: "Back" %></span>
    Artists &amp; Albums
  </h1>
</header>

<section id="searchbox">
<%= form_tag search_path, method: 'get' do %>
  <input type="text" name="q" value="<%= params[:q] %>" id="q" autofocus="autofocus" placeholder="start typing to search..." tabindex="0" />
<% end %>
</section>

<section class="artists">
  <% @artists.each do |artist| %>
    <%= content_tag :div, class: 'result clearfix' do %>
      <h2>
        <%= link_to artist do %>
          <span class="name"><%= highlighted(artist, :name) %></span>
          <small><%= pluralize artist.album_count, 'album' %></small>
        <% end %>
      </h2>
      <% if highlight = highlight(artist, :members_combined) %>
      <p class="small">
        <span class="label">Members</span>
        <%= highlight.first.html_safe %>
      </p>
      <% end %>
      <% if highlight = highlight(artist, :profile) %>
      <p class="small">
        <span class="label">Profile</span>
        <%= highlight.join('&hellip;').html_safe %>
      </p>
      <% end %>
    <% end %>
  <% end %>
</section>

<section class="albums">
  <% @albums.each do |album| %>
    <%= content_tag :div, class: 'result clearfix' do %>
      <h2>
        <%= link_to artist_path(album.artist_id, anchor: "album_#{album.id}") do %>
          <span class="name"><%= highlighted(album, :title) %></span>
          <small><%= album.artist %></small>
          <small>(<%= [album.meta.formats.first, album.released].compact.join(' ') %>)</small>
        <% end %>
      </h2>

      <% if highlight = highlight(album, 'tracklist.title') %>
        <p class="small">
          <span class="label">Tracks</span>
          <%= highlight.join('&hellip;').html_safe %>
        </p>
      <% end %>

      <% if highlight = highlight(album, :notes) %>
        <p class="small">
          <span class="label">Notes</span>
          <%= highlight.map { |d| d.gsub(/^\.\s?/, '') }.join('&hellip;').html_safe %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</section>

<% if @artists.empty? && @albums.empty? %>
<section class="no-results">
  <p>The search hasn't returned any results...</p>
</section>
<% end %>

<script>
$.widget( "custom.suggest", $.ui.autocomplete, {
    _renderMenu: function( ul, items ) {
      $.each( items, function( index, item ) {
        var category = ul.append( "<li class='ui-autocomplete-category'>" + item.label + "</li>" );

        $.each( item.value, function( index, item ) {
          var li = $('<li class="ui-autocomplete-item"><a href="<%= Rails.application.config.relative_url_root %>'+ item.payload.url +'">'+ item.text +'</a></li>').data('ui-autocomplete-item', item )
          category.append(li)
        } )
      });
    }
  });

$( "#q" ).suggest({
  source: '<%= suggest_path %>',
  select: function(event, ui) {
    document.location.href = '<%= Rails.application.config.relative_url_root %>'+ui.item.payload.url
  }
});
</script>
